#player {
    margin: auto;
    border-collapse: collapse;
    width: 25%;
}

#player td, #player th {
    border: 10px solid #ff2a43;
    padding: 8px;
}

#player tr:nth-child(even) {
    background-color: #f2f2f2;
}

#player tr:hover {
    background-color: #ddd;
}

#players th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #ff2a43;
}

#cover>img {
    margin: auto;
    width: 25%;
    height: auto;
    display: block;
}

#funciones>button>img:hover {
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
}

#msg {
    background-color: #ffffff;
}

#datos {
    background-color: #ffffff;
}

#mensaje {
    background-color: #ffffff;
}

a {
    background-color: #ffffff;
}

#cora {
    margin: 0px;
}

#funciones>button>img {
    margin: 25px 0px 25px 0px;
}

#datos {
    margin: 10px 0px 10px 0px;
}

#creditos {
    margin: 10px 0px 10px 0px;
}

@media only screen and (max-width: 915px) {

    #player {
        margin: auto;
        border: 5px solid #ff2a43;
        width: 95%;
    }

    #cover>img {
        margin: auto;
        width: 95%;
        height: auto;
        display: block;
    }

    #cora {
        margin: 0px;

    }

    #funciones>button>img {
        margin: 25px 0px 25px 0px;
    }

    #datos {
        margin: 10px 0px 10px 0px;
    }

    #creditos {
        margin: 10px 0px 10px 0px;
    }

}